<div class="row wrapper" ng-controller="DetailCtrl">
{{date}}
{{results[0].results.sunrise}}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>solar_noon</th>
            <th>civil_twilight_begin</th>
            <th>civil_twilight_end</th>
            <th>solar_noon - nautical_twilight_end</th>
        </tr>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>
