<div class="row wrapper" ng-controller="DetailCtrl">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Solar noon</th>
            <th>Civil Twilight Begin</th>
            <th>Civil Twilight End</th>
            <th>solar_noon - nautical_twilight_end</th>
        </tr>
        <tbody>
        <tr>
            <td>{{results.solar_noon}}</td>
            <td>{{results.civil_twilight_begin}}</td>
            <td>{{results.civil_twilight_end}}</td>
            <td>{{rfNauticalAfternoon}}</td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>
